:root {
    --black: #1C2833;
    --orange: #FF5733;
    --white : #fafafa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}

#main {
    width: 100%;
    height: 100%;
}

#shortNav {
    width: 100%;
    height: 42px;
    background-color: var(--black);
    /* border-bottom: 3px solid rgb(255, 21, 0); */
    /* border-radius: 15px 15px 0px 0px; */
}

.timing {
    display: flex;
    gap: 20px;
    height: 100%;
    width: 40%;
    align-items: center;
    justify-content: center;
    color: var(--white);
    position: absolute;
    transform: translate(-50%,-50%);
    left: 10%;
    top: 20px;
    font-size: 15px;
    font-weight: 500;
}

.timing:nth-child(2) {
    left: 28.5%;
}

.timing:nth-child(3) {
    left:85%;
}

#nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 90px;
    padding: 10px 60px;
    align-items: center;
    box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.274);
    background: transparent;
}

#navItems {
    display: flex;
    gap: 20px;
    
}

#navItems a {
    text-decoration: none;
    font-weight: 600;
    color: var(--black);
    display: block;
    /* transition: 500ms; */
}

#navItems a:hover {
    opacity: .7;
    font-weight: 700;
}


hr {
    width: 65%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 48%;
    opacity: .4;
}

#nav button {
    padding: 10px 25px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    background-color: var(--orange);
    color: white;
    transition: 500ms;
}

#nav button:hover {
    background-color: var(--white);
    border: .5px solid rgba(0, 0, 0, 0.386);
    color: var(--black);
}

#navItems ul {
    display: flex;
    gap: 60px;
}

#navItems ul li {
    list-style-type: none;
}

#navItems ul ul {
    display: none;
}

/* #navItems ul li:hover>ul {
    display: inherit;
} */

#navItems ul li ul {
    position: absolute;
    top: 85%;
    list-style: none;
    text-align: left;
    left: 34%;
    border: 1px solid rgba(0, 0, 0, 0.062);
    background-color: white;
    border-top: none;
    border-radius: 20px;
    box-shadow: 0.5px 3px 10px .5px rgba(0, 0, 0, 0.274);

}

#navItems ul li ul li {
    padding: 18px 30px;
    border-radius: 10px;
    margin-top: 8px;
}

#frontView {
    width: 100%;
    height:85%;
    /* border: 5px solid var(--orange); */
    position: relative;
    /* background-color: beige; */
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#innerFront {
    width: 100%;
    height: 80%;
    background-color: beige;
    border-radius: 20px;
}

#clientAndVideo {
    display: flex;
}

#navRight {
    position: absolute;
    right: 4%;
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 43%;
    top: 62%;
    background-color: rgb(94, 94, 94);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 12px;

}

#navRight iframe {
    border: none;
    border-radius: 20px;
    width: 90%;
    margin-top: 15px;

}

#navRight input {
    width: 85%;
    border-radius: 10px;
    border: none;
    position: relative;
    padding: 10px 30px;
}

#navRight button {
    border: none;
    padding: 13px 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 85%;
    background-color: #FF5733;
    color: var(--white);
    font-weight: 600;
    font-size: 15px;
}

#navRight input::placeholder {
    position: absolute;
    left: 20px;
}

#ourClients {
    width: 73%;
    height: 13vh;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    position: relative;
    overflow-x: scroll;
    display: flex;
    align-items: center;
}

#ourClients img {
    width: 86px;
    
}

#ourClients::-webkit-scrollbar {
    display: none;
}


#clients {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    animation-name: companies;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-timing-function: linear;
    transform: translate(-50%, -50%);
    z-index: -1;
}

@keyframes companies {
    0% {
        transform: translateX(-145%);
    }

    100% {
        transform: translateX(180%);
    }
}

#ourClients {
    z-index: -1;
}

.some {
    background-color: rgb(240, 240, 240);
    z-index: 999;
    height: 100%;
    /* margin-left: -10px; */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 20px;
    position: absolute;
    /* border: 2px solid red; */
}

.some h1 {
    white-space: nowrap;
    opacity: .6;
    font-size: 23px;
    z-index: 21;
}
